nav {
    background-color: #ad0202;
    width: 100%;
}

a {
    color: #fff;
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}

a:hover {
    color: #b7b5b5;
    text-decoration: none;
}

.card {
    color: #fff;
    background-color: #000;
}

.card-body {
    position: absolute;
    opacity: 0;
}

.card-text {
    margin-bottom: 1.4rem;
    height: 100%;
}

.card-body:hover {
    opacity: 1;
}

.card-img {
    position: relative;
    height: 65vh;
    padding-bottom: 2rem;
}

.card-img:hover {
    opacity: 0.3;
}

.card-icon {
    color: #ad0202;
    margin-right: 10rem;
    margin-left: 3rem;
}

.home-container {
    position: absolute;
}

.home-header {
    position: relative;
    margin: 30px 0 0 40px;
    font-size: 50px;
    width: 100%;
    white-space: nowrap;
    bottom: 38rem;
    animation: fadeInOut 4s ease-in;
    opacity: 0;
}

.home-header-1 {
    position: relative;
    margin: 30px 0 0 40px;
    font-size: 50px;
    width: 100%;
    white-space: nowrap;
    bottom: 47rem;
    animation: fadeInOut 4s ease-in;
    animation-delay: 4s;
    opacity: 0;
}

.home-header-2 {
    position: relative;
    margin: 30px 0 0 40px;
    font-size: 50px;
    width: 100%;
    white-space: nowrap;
    animation: fadeIn 4s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 8s;
    opacity: 0;
}

.square-1 {
    height: 100vh;
    width: 50vw;
}

.square-2 {
    height: 100vh;
    width: 50vw;
}

.square-2-text {
    margin-top: 18rem;
}

.home-text {
    padding: 1rem;
    animation: fadeIn 4s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 8s;
    opacity: 0;
}

.main-img {
    width: 80%;
    margin-top: 10.5rem;
    margin-left: 4rem;
    opacity: 0;
    animation: fadeIn 4s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 8s;
}

.overlay-card {
    position: relative;
    max-width: 500px;
    margin: 20px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.education {
    width: 30%;
}

li {
    list-style: none;
    font-size: 1.8rem;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: .5s ease-in;
    opacity: 0;
}

.overlay-card:hover .overlay {
    opacity: 1;
}

.python {
    background: linear-gradient(#30506f 50%, #E9C357 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



@keyframes fadeInOut {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
