.App {
  text-align: center;
}
img{
  height: 130px;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
}
.card{
  width: 40%;
}
.my-pic{
  width: 40%;
}
i {
  border: none!important;
  background-color: cyan!important;
}

