nav {
    background-color: #ad0202;
    width: 100%;
}

a {
    color: #fff;
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}

a:hover {
    color: #b7b5b5;
    text-decoration: none;
}

.card {
    color: #fff;
    background-color: #000;
}

.card-body {
    position: absolute;
    opacity: 0;
}

.card-text {
    margin-bottom: 1.4rem;
}

.card-body:hover {
    opacity: 1;
}

.card-img {
    position: relative;
    height: 75%;
}

.card-img:hover {
    opacity: 0.3;
}

.card-icon {
    color: #ad0202;
    margin-right: 10rem;
    margin-left: 3rem;
}

.home-container {
    position: absolute;
}

.home-header {
    position: relative;
    margin: 30px 0 0 40px;
    font-size: 50px;
    width: 100%;
    white-space: nowrap;
    bottom: 60rem;
    animation: fadeInOut 4s ease-in;
    opacity: 0;
}

.home-header-1 {
    position: relative;
    margin: 30px 0 0 40px;
    font-size: 50px;
    width: 100%;
    white-space: nowrap;
    bottom: 70rem;
    animation: fadeInOut 4s ease-in;
    animation-delay: 4s;
    opacity: 0;
}

.home-header-2 {
    position: relative;
    margin: 30px 0 0 40px;
    font-size: 50px;
    width: 100%;
    white-space: nowrap;
    bottom: 80rem;
    animation: fadeInOut 4s ease-in;
    animation-delay: 8s;
    opacity: 0;
}

.square-1 {
    height: 100vh;
    width: 50vw;
}

.square-2 {
    height: 100vh;
    width: 50vw;
}

.square-2-text {
    margin-top: 18rem;
}

.home-text {
    padding: 8.5rem 1rem;
}

.main-img {
    width: 100%;
    height: 100%;
}

@keyframes fadeInOut {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0
    }
}
